<main>
  <ngx-spinner
          size="large"
          type="ball-spin-clockwise">
  </ngx-spinner>
  <app-forecast-day-details
    [forecast]="forecast"
    [dayForecast]="dayForecast"
    [isLocked]="isLocked"
    [(isCelsius)]="isCelsius"
    (submit)="onSubmit($event)"
  ></app-forecast-day-details>
  <app-forecast-day-chart
    [dayForecast]="dayForecast"
    [isCelsius]="isCelsius"
  ></app-forecast-day-chart>
  <app-forecast-days
    [forecast]="forecast"
    [(isCelsius)]="isCelsius"
    (dayForecastChanged)="dayForecast = $event">
  </app-forecast-days>
</main>
