<section>
  <ul class="forecast-days">
    <li  [ngClass]="{'forecast-day-selected': dayForecastSelect[i]}"
         *ngFor="let forecastDay of forecast?.list; index as i;" (click)="toggleForecastDay(forecastDay,i)">
      <p>{{forecastDay.dt * 1000 | date: 'EEE'}}</p>
      <span><img [src]="'http://openweathermap.org/img/w/' + forecastDay.weather[0].icon + '.png'"></span>
      <span *ngIf="!isCelsius">Max:{{forecastDay.temp.max}} F</span>
      <span *ngIf="isCelsius">Max:{{forecastDay.temp.max}} °C</span>
      <span *ngIf="!isCelsius">Max:{{forecastDay.temp.min}} F</span>
      <span *ngIf="isCelsius">Max:{{forecastDay.temp.min}} °C</span>
    </li>
  </ul>
</section>
