.forecast-days {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  .forecast-day-selected{
    border: 2px solid rgba(0,0,0,1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }
  li {
    display: grid;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px 45px;
    margin: 5px;
    background-color: rgba(80, 89, 120, 0.3);
    border: 2px solid rgba(255,255,255,1);
    box-shadow: 2px 2px 2px rgba(255,255,255,0.3);
    p {
      display: flex;
      justify-content: center;
      margin-bottom: 0px;
    }
    span {
      display: flex;
      justify-content: center;
      img{
        width: 65px;
        height: 65px;
      }
    }
  }
}
