<section *ngIf="dayForecast">
  <div class="forecast-details">
    <div class="header">
      <h2>{{forecast.city.name}}</h2>
      <h2>{{dayForecast.dt * 1000 | date: 'fullDate'}}</h2>
    </div>
    <div class="search">
      <form (ngSubmit)="submit.emit(searchForm['controls'].cityName.value)" #searchForm="ngForm">
        <input type="text"
               name="cityName"
               placeholder="Give the name of the city"
               required
               [(ngModel)]="cityName">
        <button class="search-btn"
                type="submit"
                [disabled]="!searchForm.form.valid || isLocked">
          <img src="/assets/search-icon.svg">
        </button>
      </form>
    </div>
    <div class="temp">
      <img [src]="'http://openweathermap.org/img/w/' + dayForecast.weather[0].icon + '.png'">
      <span *ngIf="!isCelsius" (click)="this.isCelsiusChange.emit(true);">{{dayForecast.temp.max}} F</span>
      <span *ngIf="isCelsius" (click)="this.isCelsiusChange.emit(false);">{{dayForecast.temp.max}} °C</span>
    </div>
    <div class="description">
      {{dayForecast.weather[0].description}}
    </div>
    <div class="details">
      <p>Pressure: {{dayForecast.pressure}} hPa</p>
      <p>Humidity: {{dayForecast.humidity}}%</p>
      <p>Wind speed: {{dayForecast.speed}} m/s</p>
      <p>Cloudiness: {{dayForecast.clouds}}%</p>
    </div>
  </div>
</section>
