.forecast-details {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  .header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .search {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 580px) {
      display: unset;
    }
    form {
      width: 320px;
      padding-top: 20px;
      @media only screen and (max-width: 580px) {
        width: 90%;
      }
      input {
        width: 100%;
        height: 45px;
        padding: 0 20px;
        font-size: 1rem;
        border: 1px solid #D0CFCE;
        outline: none;
        border-radius: 10px;
        opacity: 0.9;
        &:focus {
          border: 1px solid #008ABF;
          transition: 0.35s ease;
          color: #008ABF;
          &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }
          &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }
          &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }
        }
      }
      .search-btn {
        position: relative;
        float: right;
        width: 35px;
        height: 34px;
        top: -39px;
        right: -31px;
        background: transparent;
        border: transparent;
        cursor: pointer;
      }

    }
  }
  .temp {
    display: flex;
    justify-content: center;
    span{
      font-size: 7em;
      cursor: pointer;
      @media only screen and (max-width: 580px) {
        font-size: 4.5em;
      }
    }
    img{
      width: 80px;
      height: 80px;
    }
  }
  .description {
    display: flex;
    justify-content: center;
    font-size: 2em;
  }
  .details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
      font-size: 1.3em;
      margin: 22px;
    }
  }
}
