<section *ngIf="dayForecast">
  <div class="forecast-chart-cnt">
    <canvas width="600" height="200" baseChart
             [datasets]="[{ data: [ dayForecast?.temp.night, dayForecast?.temp.morn, dayForecast?.temp.day, dayForecast?.temp.eve]}]"
             [labels]="['Night', 'Morning', 'Day', 'Evening']"
             [colors]="lineChartColors"
             [options]="chartOptions"
             [legend]="true"
             [chartType]="'bar'"></canvas>
  </div>
</section>
