html body{
  height: 100%;
}
body {
  margin: 0;

  background-image: url("/assets/forecast-background.jpg");
  background-repeat: no-repeat;
  background-size: 120% 120%;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 1px 1px 16px black;
}